.Mission {
    text-align: center;
    padding: 0 160px;
}

.Mission h1 {
    color: white;
    font-family: 'Audiowide', cursive;
    margin: 10px auto 24px;
    text-transform: uppercase;
}

.Mission p {
    color: white;
    font-family: "Arial";
    font-size: 18px;
    line-height: 24px;
}

.MissionDiv {
    background-color: #630031;
    height: 168px;
    overflow: hidden; /* Added this so that whole div wont go down */
    width: 100%;
    margin-top: 8px;
}