.AboutMeBorder {
    padding: 0 500px 0 500px;
}

.AboutMeContainer {
    margin-top: 120px;
    min-height: 480px;
    background-color: #1a1a1a;
}

.AboutMe h1 {
    color: #46bcde;
    text-align: center;
    padding: 20px 0px 10px 0px;
    font-family: 'Perpetua Titling MT';
    font-size: 36px;
}

.TextRow {
    margin-top: 10px;
}

.AboutMeInsideDiv {
    border-bottom: 1px solid #46bcde;
}

.AboutMeText p{
    color: white;
    font-size: 14.5px;
}

.MyPic {
    width: 276px;
    padding-top: 60px;
}

.PictureCol {
    padding-left: 5px;
}

