.FormBorder {
    padding: 0 630px 0 630px;
}

.ContactMe h1 {
    color: #46bcde;
    text-align: center;
    padding: 20px 0px 10px 0px;
    font-family: 'Perpetua Titling MT';
    font-size: 36px;
}

.ContactMeInsideDiv {
    border-bottom: 1px solid #46bcde;
}

.ContactMeContainer {
    margin-top: 100px;
    min-height: 300px;
    background-color: #1a1a1a;
}

.ContactText {
    margin-top: 20px;
}

.ContactText p{
    color: white;
    text-align: center;
}

.Form {
    margin-bottom: 20px;
    margin-top: 20px;
}

.Form label {
    color: white;
}

.FormButton {
    text-align: center;
    color: #007bff;
}


