.FormBorder {
    padding: 0 630px 0 630px;
}

.ContactMe h1 {
    color: #46bcde;
    text-align: center;
    padding: 20px 0px 10px 0px;
    font-family: 'Perpetua Titling MT';
    font-size: 36px;
}

.ContactMeInsideDiv {
    border-bottom: 1px solid #46bcde;
}

.ContactMeContainer {
    margin-top: 100px;
    min-height: 300px;
    background-color: #1a1a1a;
}

.ContactText {
    margin-top: 20px;
}

.ContactText p{
    color: white;
    text-align: center;
}

.Form {
    margin-bottom: 20px;
    margin-top: 20px;
}

.Form label {
    /* color: white; */
    color: #4080FF;
}

.FormButton {
    text-align: center;
}

.FormButton button {
    background-color: #007bff;
    border-color: #007bff;
    /* background-color: #46bcde;
    border-color: #46bcde; */
    font-family: 'Roboto Slab,serif';
    font-size: 20px;
    letter-spacing: 0.5px;
}

.FormButton button:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.IconContainer {
    margin-bottom: 20px;
}

.Icons{
    text-align: center;
}

.Icons img {
    width: 50px;
}

/* .Icons img:hover {
    width: 55px;
} */

.CopyrightMessage {
    color: white;
    text-align: center;
    font-size: 12px;
}

.CopyrightBorder {
    margin-bottom: 10px;
}


