.About2FirstRow {
    background: #620031;
    padding-left: 24%;
    padding-right: 25%;
    padding-top: 30px;
    min-height: 253px;
}

.About2FirstRow img {
    float: right;
}

.About2FirstRow h2 {
    color: #A3A3A3;
    font-family: 'audiowide-regular-webfront';
    font-size: 23px;
    margin: 10px 0 20px;
    text-transform: uppercase;
}

.About2FirstRow p {
    color: #ffffff;
    font-family: 'Arial';
    font-size: 15.5px;
}

/* SECOND ROW */
.About2SecondRow {
    background: black;
    padding-left: 24%;
    padding-right: 25%;
    padding-top: 30px;
    min-height: 366px;
}

.About2SecondRow img {
    padding: 50px 0 0 0;
}

.About2SecondRow h2 {
    color: #A3A3A3;
    font-family: 'audiowide-regular-webfront';
    font-size: 23px;
    margin: 10px 0 20px;
    text-transform: uppercase;
}

.About2SecondRow p {
    color: white;
    font-family: Arial;
    font-size: 16px;
}

.About2SecondRowText {
    padding-top: 80px;
}

{/* XX-LARGE SCREENS */}
@media (max-width: 1600px) {
    .About2FirstRow {
        padding-left: 19%;
        padding-right: 21%;
    }

    .About2SecondRow {
        padding-left: 18.5%;
        padding-right: 20%;
    }
}


{/* X-LARGE SCREENS */}
@media (max-width: 1440px) {
    .About2FirstRow {
        padding-left: 15%;
        padding-right: 16%
    }

    .About2SecondRow {
        padding-left: 14%;
        padding-right: 15%;
    }
}

{/* LARGER SCREENS */}
@media (max-width: 1200px) {
    .About2FirstRow {
        padding-left: 8.5%;
        padding-right: 9.5%;
    }

    .About2SecondRow img{
        padding-right: 20px;
    }

    .About2SecondRow {
        padding-left:9%;
        padding-right: 10%;
    }

    
}

{/* MEDIUM SCREENS */}
@media (max-width: 992px) {
    .About2FirstRow {
        text-align: center;
    }
    
    .About2FirstRow img {
        float: none;
    }

    .About2FirstRowResp {
        text-align: center;
    }
}