.RightSide {
    float: left;
    width: 295px;
}

.RightSide Button {
    float: right;
    background-color: #3c0f38;
    border: none;
    font-family: Arial;
    font-size: 14px;
    height: 31px;
    text-transform: uppercase;
    width: 120px;
    margin-top:3px;
}

.RightSide Button:hover {
    background-color: #620031;
}

.LatestBlogList {
    list-style: none;
    padding: 0;
}

.LatestBlogList h1{
    color: #A3A3A3;
    font-family: "audiowide-regular-webfront";
    font-size: 23px;
    /* line-height: 12px; */
    text-transform: uppercase;
}

.LatestBlogList p {
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    text-transform: uppercase;
    margin:0;
}

.TopBlog {
    padding-bottom: 38px;
    border-bottom: 1px solid #A3A3A3;
    width: 402px;
}

.BottomBlog {
    padding-top: 39px;
    width: 402px;
}

.BottomSection {
    padding:0 175px 60px 265px;
    background-color: black;
}

.Title {
    color: #ffffff;
    font-family: 'Audiowide', cursive;
    font-size: 32px;
    margin: 20px 0 44px;
    padding: 0;
    text-transform: uppercase;
}

.Featured {
    margin-left: 27px;
}


/* THIS IS THE SIZE OF MY MONITOR!!! */
@media (max-width: 1536px) {
    .Featured {
        margin-left: 0;
    }
}

@media (min-width: 1378px) and (max-width: 1536px) {
    .BottomSection {
        padding:0 110px 60px 185px;
    }
}
