body{
  background: url("./background-image2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------ HOME ------------------------ */
.homeTitle {
  margin-top: 120px;
}

.HomeDiv {
  /* background-color: #1a1a1a; */
  height: auto;
  margin-top: 120px;
  padding-top:40px;
  padding-bottom:40px;
}

.HomeDivInnerContainer {
  padding:40px;
}

.HomeDiv.container {
  padding-left:40px;
  padding-right:40px;
}

.HomeDiv .AboutMe {
  color:white;
  font-family: 'Abel';
}

/* ------------------------ HEADER ------------------------ */

.NavBar {
  float:right;
}

.NavBarLink{
  font-family: 'Abel';
  color: white;
  font-size: 17px;
} 

.NavBarBrand {
  font-family: 'Courier New', Courier, monospace;
  margin-top:1.5px;
  margin-left:10px;
  font-weight:bold;
}

.NavBarItems{
  float:right;
  display: flex;
}

.wholeNav.nav {
  display: block;
}

.someVerticalLine2 {
  color:#0040FF;
  background-color: #0040FF; 
  width:0.5px;
  height: 23.5px;
  margin-top: 10px
}

a.NavBarBrand.navbar-brand {
  font-family: 'Open Sans', sans-serif;
}

/* ------------------------ ABOUT AND RESUME ------------------------ */



.AboutDiv {
  background-color: #1a1a1a;
  height: auto;
  margin-top: 120px;
}

.AboutDiv2InnerContainer {
  padding:40px;
}

.AboutDiv2 {
  background-color: #1a1a1a;
  height: auto;
  margin-top: 120px;
  padding-top:40px;
  padding-bottom:40px;
}

.AboutDiv2.container {
  padding-left:40px;
  padding-right:40px;
}

.AboutDiv p, .AboutDiv2 p, .ContactDiv p {
  color:white;
}

.AboutMe {
  text-align:center;
  color:white;
  font-size:50px;
  margin-bottom:-5px;
  font-family: 'Open Sans', sans-serif;
}

.ResumeTitle {
  text-align:center;
  color:#0080FF;
  font-size:50px;
  margin-bottom:-5px;
  padding: 20px;
  font-family: 'Abel';
  /* font-family: 'Open Sans', sans-serif; */
  text-transform: uppercase;
}

.ResumeTitle2 {
  text-align:center;
  color:#0080FF;
  font-size:110px;
  margin-bottom:-5px;
  padding: 20px;
  font-family: 'Abel';
  /* font-family: 'Open Sans', sans-serif; */
  text-transform: uppercase;
}

.JobTitle {
  text-align:center;

}

.AboutMeDesc {
  margin-top: 25px;
}

.AboutMeDesc p {
  text-align: center;
}

.someLine {
  color:#0040FF;
  background-color: #0040FF; 
  height: 5;
}

 .Sub-Title {
  text-decoration: underline;
  margin-bottom: 25px;
  color: #4080FF;
}

.DateStartEnd {
  text-align: left;
}

.externalWebLogo {
  width: 30px;
  margin-right:5px
}

h5, h6 {
  color:#8080FF;
}

h6 {
  text-transform: uppercase;
}

.TechSection {
  margin-left:100px;
  padding:20px;
}

.TechSection li {
  color:white;
}

.ProfilePicContainer{
  text-align: center;
  margin-bottom:20px;
}

.ProfilePic {
  width:150px;
}


/* ------------------------ PHOTOGRAPHY ------------------------ */

.PhotogContainer {
  /* background-color:black; */
  margin-top:50px;
}

.PhotogTitle {
  text-align: center;
}

.PhotogTitle h1{
  color: white;
  font-family: 'Abel';
  font-size: 90px;
  text-transform: uppercase;
}

.PhotogDescription {
  text-align: center;
}

.PhotogDescription p {
  color: white;
  font-family: 'Abel';
  font-size:20px;
}

.cosImageCol {
  text-align: center;
}

/* -- Image Gallery -- */

.image-gallery {
  margin-top: 30px;
}

/* ------------------------ CONTACT ME ------------------------ */

.ContactDiv {
  background-color: #1a1a1a;
  height: auto;
  margin-top: 120px;
  padding: 75px;
}

.ContactDiv.container {
  padding-left:74px;
  /* padding-right:74px; */
}

.ContactLinks {
  text-align: center;
  margin-bottom: 30px;
}

.Hotmail_Icon {
  width: 75px;
}

.LinkedIn_Icon {
  padding-right: 40px;
}

.form-label {
  color: #4080FF;
}

.SubmitButton {
  margin-top: 20px;
  float:right; 
}

.someVerticalLine {
  color:#0040FF;
  background-color: #0040FF; 
  width:1px;
}

.MessageBox.form-control {
  height: 130px;
}

/* ------------------------ Projects ------------------------ */



/* ------------------------ REACT TRANSITION GROUP (NOT WORKING :( )------------------------ */

/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

/* enter - when clicking header button*/
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms linear;
}

/* exit - when fading out */ 
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 5000ms linear;
  color:green;
}

/* ------------------------ RESPONSIVE EDITS ------------------------ */



/* Large Screens */
@media only screen and (max-width : 1199.98px) {
  .ResumeTitle2 {
    font-size: 93px;
  }
}

/* Medium Screens */
@media only screen and (max-width : 991.98px) {
  .AboutMeTitle {
    margin-bottom:10px;
  }

  .ProfilePicContainer {
    margin-bottom: 45px;
  }

  .AboutDiv2InnerContainer {
    padding:0px;
  }

  .ResumeTitle2 {
    font-size: 70px;
  }
  
  body {
    background-position: center;
  }
  
}

/* Small Screens */
@media only screen and (max-width : 767.98px) {
  
}

/* X-Small Screens */
@media only screen and (max-width : 575.98px) {
  
}
