body{
  background: url("https://www.agdelta.com/wp-content/uploads/2018/06/website-parallax-background-C.jpg");
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------ HEADER ------------------------ */

.NavBar {
  float:right;
}

.NavBarLink{
  color: white;
} 

.NavBarBrand {
  font-family: 'Courier New', Courier, monospace;
  margin-top:1.5px;
  font-weight:bold;
}


/* ------------------------ ABOUT ------------------------ */

.AboutDiv {
  /*background-color: black;*/
  height: 350px;
  margin-top: 120px;
}

.AboutDiv h1 {
  text-align:center;
  color:white;
  font-weight:bold;
}

.AboutDiv p {
  color:white;
}

.AboutMeDesc {
  margin-left: 200px;
  margin-top: 20px;
}

.AboutMeDesc li {
  color:white;
}

.AboutMeDesc a {
  color:white;
}