body{
  background: url("./background_image.jpg");
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------ HEADER ------------------------ */

.NavBar {
  float:right;
}

.NavBarLink{
  color: white;
} 

.NavBarBrand {
  font-family: 'Courier New', Courier, monospace;
  margin-top:1.5px;
  margin-left:10px;
  font-weight:bold;
}

.NavBarItems{
  float:right;
  display: flex;
}

.wholeNav.nav {
  display: block;
}


/* ------------------------ ABOUT ------------------------ */

.AboutDiv {
  background-color: black;
  height: auto;
  margin-top: 120px;
}

.AboutMe {
  text-align:center;
  color:white;
  font-weight:bold;
  font-size:50px;
  margin-bottom:-5px;
}

.JobTitle {
  text-align:center;

}

.AboutMeDesc {
  margin-top: 25px;
}

.AboutMeDesc p {
  text-align: center;
}

.someLine {
  color:green;
  background-color: green; 
  height: 5;
}

.Sub-Title {
  text-decoration: underline;
}

.DateStartEnd {
  text-align: right;
}

.CompanyAddress2 {
  margin-top: -15px;
  margin-bottom: 0px;
}

.CompanyAddress {
  margin-top:-15px;
  margin-bottom:15px;
}

.ExperienceDesc2 {
  margin-bottom:15px;
}

.ExperienceDesc2 p{
  margin-bottom: -5px;
}

.AboutDiv p {
  color:white;
}

/*
.AboutMeDesc {
  margin-left: 200px;
  margin-top: 20px;
}

.AboutMeDesc li {
  color:white;
}

.AboutMeDesc a {
  color:white;
}
*/

/* ------------------------ PHOTOGRAPHY ------------------------ */

.PhotogContainer {
  /* background-color:black; */
  margin-top:50px;
}

.PhotogTitle {
  text-align: center;
}

.PhotogTitle h1{
  color: white;
  font-family: 'Abel';
  font-size: 90px;
  text-transform: uppercase;
}

.PhotogDescription {
  text-align: center;
}

.PhotogDescription p {
  color: white;
  font-family: 'Abel';
  font-size:20px;
}

.cosImageCol {
  text-align: center;
}

/* -- Image Gallery -- */

.image-gallery {
  margin-top: 30px;
}




/* ------------------------ REACT TRANSITION GROUP (NOT WORKING :( )------------------------ */

/* appear - on page load */
.fade-appear {
  opacity: 0;
  z-index: 1;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 600ms linear;
}

/* enter - when clicking header button*/
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms linear;
}

/* exit - when fading out */ 
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 5000ms linear;
  color:green;
}

