.ResumeBorder {
    padding: 0 300px 0 300px;
}

.ResumeContainer {
    margin-top: 100px;
    min-height: 300px;
    background-color: #1a1a1a;
}

.Resume h1 {
    color: #46bcde;
    text-align: center;
    padding: 20px 0px 10px 0px;
    font-family: 'Perpetua Titling MT';
    font-size: 36px;
}

.ResumeInsideDiv {
    border-bottom: 1px solid #46bcde;
}

.SkillList {
    padding-left: 100px;
}

.SkillList ul {
    color: white;
}

.SkillList h5 {
    color: #8080FF;
}

.SkillTitle h4 {
    text-align: center;
    color: white;
}

.SkillRow {
    margin-top:40px;
}
.SkillListRow {
    margin-top: 20px;
}

