.OuterEmploymentBorder {
    padding: 0px 80px;
}

.InnerEmploymentBorder {
    border: 1px solid #46bcde;
}

.EmploymentSection {
    /* border: 1px solid #46bcde;
    margin-top: 20px; */
}

.EmploymentSecondRow {
    border-top: 1px solid #46bcde;
    margin:0px;
}

.EmploymentCol {
    border-right: 1px solid #46bcde;
}

.EmploymentTitle h4{
    text-align: center;
    color: white;
}

.EmploymentTitle {
    margin-top: 20px;
    margin-bottom: 15px;
}

.WorkPositionTitle h5{
    text-align: center;
    color: #8080FF;
    padding-top: 10px;
    padding-bottom: 5px;
}

.WorkPositionInside {
    border-bottom: 1px solid #46bcde;
    margin-left: 15px;
    margin-right: 15px;
}

.PreviousWorkPositionInside {
    border-bottom: 1px solid #46bcde;
}

.CurrentWork {
    padding: 0 15px;
    padding-top: 10px;
    color: white;
}

.PreviousWork {
    padding-top: 10px;
    color: white;
}

.CurrentWork h6, .PreviousWork h6{
    color: #8080FF;
}
