.BlogTitle {
    text-align: center;
    padding: 50px 0;
}

.BlogPage {
    background: black;
    color: white;
    padding-left: 25%;
    padding-right: 25%;
}

.theContainer {
    padding-left: 0;
}
/* FIRST COLUMN */

.Col1 img {
    width: 520px;
    margin-top: 8px;
}

.Col1 button {
    float: right;
    margin-right: 12px;
}

/* SECOND COLUMN */
.Col2 h1{
    font-family: audiowide-regular-webfront;
    font-size: 32px;
    text-transform: uppercase;
    margin: 0 0 25px;
    
}

.Col2 h2 {
    color: #A3A3A3;
    font-family: audiowide-regular-webfront;
    margin: 0 0 1px;
    text-transform: uppercase;
    font-size: 26px;
}

.Col2 p {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

.FeaturedPost {
    padding-bottom: 10px;
    border-bottom: 1px solid #a3a3a3;
}

.RecentPost {
    padding-top: 25px;
}

.RecentPost p{
    margin-bottom:0;
}

.RecentPost img {
    float: left;
}

.RecentPost li {
    list-style: none;
    margin-bottom: 25px;
}

.RecentPost ul {
    padding:0;
}

.RecentPostText {
    padding-left: 80px;
}


@media (max-width: 1200px) {
    .BlogPage {
        padding-left: 11%;
        padding-right: 12%;
    }
}

@media (max-width: 992px) {
    .BlogPage {
        text-align: center;
    }

    .RecentPost img {
        float: none;
    }

    .RecentPostText {
        padding: 0;
    }

    .Col2 h2 {
        margin-top: 20px;
    }

    .Col2 p {
        margin-top: 40px;
    }
}