body {
  /*background-image: url(http://www.baltana.com/files/wallpapers-2/Game-Background-Wallpaper-04890.jpg);*/
  background-image: url(https://cdn.suwalls.com/wallpapers/fantasy/futuristic-city-10719-1920x1200.jpg);
  background-size: 1366px 768px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.navbar-light {
  /*background-color: rgba(47, 46, 46, 1);*/
  
}

.navbar-light .navbar-brand{
  color: white;
}

#navbarNav a {
  color: white;
}

.navbar-light .navbar-brand:hover{
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.searchBoxContainer {
  height: 200px;
  margin-top: 100px;
}

.searchBoxContainer h1{
  text-align: center;
  color: white;
}

.input-field {
  text-align: center;
}

.btn-search {
  background: transparent;
  position: absolute;
  border-style: none;
  margin-top: 23px;
  margin-left: 10px;
}

#searchBox {
  width: 90%;
  margin-top: 15px;
  padding-left: 40px;
  border-radius: 34px;
  height: 40px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
