.Featured {
    margin-top:47px;
    float: left;
}

.Featured img{
    position: static;
}

.Featured ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
}

.InnerDiv {
    position: absolute;
    width: 939px;
    height: 35px;
    /* background-image: url("../../../../bg-transparent1.png"); */
}

.InnerDiv h3 {
    text-align: center;
    color: #A3A3A3;
    font-family: 'Audiowide', cursive;
    text-transform: uppercase;
    font-weight: bold;
}

