.DivHeader {
    background: linear-gradient(rgba(51,0,0,.5), rgba(51,0,0,.5));
}

.Header {
    padding-left: 75px;
    height: 68px;
    margin-top: -8px;
}

.Links {
    margin-left: 62px;
}

.Links a{
    color: white;
    font-family: Arial;
    font-size: 18px;
    /* line-height: 59px; */
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 17px;
}

.Links a:hover {
    background-color: #620031;
}
