.DivHeader {
    background: linear-gradient(rgba(51,0,0,.5), rgba(51,0,0,.5));
}

.Header {
    padding-left: 75px;
    height: 68px;
    margin-top: -8px;
}

.Links {
    margin-left: 62px;
}

.Links a{
    color: white;
    font-family: Arial;
    font-size: 18px;
    /* line-height: 59px; */
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 17px;
}

.Links a:hover {
    background-color: #620031;
}

@media only screen and (max-width : 1199.98px) {
    .Header {
        padding-left: 0px;
    }  
}

@media (max-width: 991px) {
    .Test button{
        margin-top: 10px;
    }

    .Links {
        margin-left:0;
    }

    .Links a {
        border: 1px solid #f1f2f2;
        padding-left: 20px !important;
        color: #eeeced !important;
    }

    .ResponsiveLinks {
        z-index: 1;
        background: rgba(98, 0, 49, 0.91);
    }
}

