.Placeholder{
    padding-left: 45px;
    padding-right: 45px;
    color: #444a5b;
    font-family: 'abelregular';
    font-size: 15px;
    letter-spacing: 2px;
    margin: 24px 0 0;
    text-transform: uppercase;
}

.Paragraph {
    padding-left: 45px;
    padding-right: 45px;
    color: #8a8989;
    font-family: 'abelregular';
    font-size: 14px;
    line-height: 24px;
    margin: 27px 0 0;
    text-align: justify;
    letter-spacing: 0.001em;
}